.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #1D1D1B;
    color: #f5edf1;
  }
  
  .heading {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .description {
    margin-top: 1rem;
    text-align: center;
    max-width: 600px;
  }
  
  .image {
    margin-top: 2rem;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    height: 300px;
  }
  
  .section {
    margin-top: 4rem;
    text-align: center;
    max-width: 800px;
  }
  
  .sectionHeading {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .sectionText {
    margin-top: 1rem;
  }
  
  .teamGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .teamMember {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #1D1D1B;
  }
  
  .testimonial {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    color: #1D1D1B;
  }
  