/* global.css */

/* Include Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles here */
body {
  font-family: 'Inter', sans-serif;
  background-color: #F8F6EF; /* Example background color */
}
/*  #FF3276 */
/* Example custom styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
