@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
  background-color: #7b2cbf; /* Darker purple for better contrast */
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.justifyBetween {
  justify-content: space-between;
}

.navbarBrand {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbarButton {
  background-color: #9d4edd; /* Darker button color for better visibility */
  padding: 0.7rem;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-size: 1.5rem;
  color: white;
}

.navbarButton:hover {
  background-color: #6a1b9a; /* Darker hover effect */
}

.linksContainer {
  display: none; /* Hidden by default */
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksContainer li {
  margin-right: 20px; /* Add space between list items */
}

@media (min-width: 640px) {
  .linksContainer {
    display: flex; /* Display flex on larger screens */
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    transform: none;
    background-color: transparent;
    padding: 0;
  }
}

.navbarLink {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s;
  font-size: 18px;
}

.navbarLink:hover {
  color: #ffeb3b; /* Bright yellow for hover effect */
}

.mobileMenu {
  display: none;
  flex-direction: column;
  padding: 0.2rem 1rem;
  background-color: rgba(123, 44, 191, 0.95); /* Slightly transparent matching color */
}

.mobileMenu.open {
  display: flex;
}

.mobileMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobileMenu ul li {
  padding: 8px;
  margin: 12px 20px;
  background-color: #32154e; /* Light background for menu items */
  max-width: 50%;
  color: #3c096c; /* Darker text color for better readability */
  border-radius: 8px;
}

@media (min-width: 640px) {
  .navbarButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
