/* navbar.module.css */
.navbar {
  background-color: rgba(0, 0, 0, 0.744); /* Transparent dark color */
  color: #f8f9fa;
  position: relative;
  border-radius: 18px; /* Rounded corners */
  margin: 1.5rem; /* Space from top and sides */
  padding: 0.5rem 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarBrand {
  font-size: 2rem;
  font-weight: bold;
  color: #da45b2;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  padding-left: 20px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  display: none;
  border-radius: 18px; /* Rounded bottom corners for dropdown */
}

.linksContainer.open {
  display: flex;
}

.linksContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksContainer li {
  margin: 0.5rem;
}

.linksContainer li:last-child {
  margin-bottom: 0;
}

.navbarLink {
  color: #a6c3e0;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.navbarLink:hover {
  color: #ff69b4; /* Bright color suitable for beauty industry */
}

.bookingLink {
  margin-top: 1rem;
}

.bookingButton {
  color: #fff;
  background-color: #ff69b4; /* Bright color suitable for beauty industry */
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.bookingButton:hover {
  background-color: #ff1493;
}

.navbarButton {
  background: none;
  border: none;
  color: #f8f9fa;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .linksContainer {
    flex-direction: row;
    position: static;
    background-color: transparent;
    display: flex;
  }

  .linksContainer ul {
    display: flex;
    gap: 1rem;
  }

  .navbarButton {
    display: none;
  }

  .bookingLink {
    margin-top: 0;
  }
}