@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
  background-color: #6b46c1;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.justifyBetween {
  justify-content: space-between;
}

.navbarBrand {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbarButton {
  background-color: #805ad5;
  padding: 0.7rem;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-size: 1.5rem; 
}

.navbarButton:hover {
  background-color: #6b46c1;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #6b46c1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.linksContainer.open {
  transform: translateY(0);
}

.navbarLink {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s;
  font-size: 18px;
}

.navbarLink:hover {
  color: #d946ef;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  background-color: rgba(107, 70, 193, 0.95);
}

.mobileMenu ul li {
  padding: 8px;
  margin: 12px 20px;
  background-color: rgb(131, 179, 222);
  max-width: 50%;
  color: black;
  border-radius: 8px;
}

@media (min-width: 640px) {
  .navbarButton {
    display: none;
  }

  .linksContainer {
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    transform: none;
    background-color: transparent;
    padding: 0;
  }

  .navbarLink {
    padding: 0 10px;
  }
}
